include README.md
include LICENSE
include CHANGELOG.md
include CITATION.cff
include CODE_OF_CONDUCT.md
include CONTRIBUTING.md
include PRIVACY.md
include ROADMAP.md
include SECURITY.md
include SUPPORT.md
include what_changed.md
recursive-include assets *.svg
recursive-include docs *.md
